.photo-grid {
  padding-top: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
}

.video_link {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  margin-top: 1em;
  margin-bottom: 1em;
}
